

@import 'lms/theme/variables';
@import 'lms/theme/variables-v1';
@import 'discussion/utilities/variables-bootstrap';
@import 'discussion/inline-discussion.scss';

@import 'discussion-v1';
@import 'discussion/elements/editor';

.discussion-module .forum-new-post-form {
  background: transparent;
}

h4 {
  color: $t1-d2;
}

label {
  color: $t1-d2;
}


.wmd-button {
  background: $t1;
  color: none !important;
  background-image: url("../../images/wmd-buttons-transparent.png")
}

// .wmd-button > span {

// }