.global-header {
  background: $bg-color;
  color: $fg-color;
}

.main {
  color: $fg-color;
}

.main-header {
  color: $fg-color;
}

.hamburger-menu {
  color: $fg-color;
}

#main {
  background-color: $bg-color;
  columns: $fg-color;
}

.course-title {
  color: $fg-color;
}

.window-wrap {
  background-color: $bg-color;
  color: $fg-color;
}


footer {
  background-color: $bg-color;
  color: $fg-color;
}

.dashboard-search-bar
.search-field {
  background: $bg-color;
}