$black: #000;
$color: $black;

.home > header {
  height: 460px;
  width: 100%;
  background: url("#{$static-path}/images/fcc-banner.png");
  .outer-wrapper {
    text-align: center;
    padding-top: 120px;
  }

  h1 {
    font: 60px/60px "open sans", sans-serif;
    color: $color;
    padding: 0 0 15px;
    text-shadow: 2px 2px 8px #000000;
    text-transform: uppercase;
  }

  a {
    transform: matrix(1, 0, 0, 1, -84, 0);
    -webkit-transform: matrix(1, 0, 0, 1, -84, 0);
    border: 3px solid #fff;
    border-radius: 5px;
    color: $color !important;
    font-size: 18px;
    line-height: 20px;
    min-width: 168px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 168px;
    text-shadow: 2px 2px 8px #000000;
  }
}

.header-global,
.header-global.slim {
  .user-dropdown,
  .dropdown,
  .js-dropdown-button {
    background: transparent !important;
    color: $color !important;
  }

  a.user-link {
    box-shadow: none !important;
  }

  a.user-link:active {
    background-color: transparent !important;
    background: none !important;
  }

  a.user-link:hover {
    background: none !important;
  }

  .wrapper-header {
    height: auto;

    .course-header {
      color: $color !important;
      width: auto !important;
      max-width: 50%;
      margin-top: 8px;
      line-height: normal;
    }
  }

  .label-username,
  .menu-title {
    color: $color !important;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .nav-global li a,
  .doc-link {
    color: $color !important;
  }
}
