$black: #000;
$white: #fff;

// SILVER
$lightgray: #d3d3d3;
$silver: #c0c0c0;
$darkgray: #a9a9a9;
$gray: #808080;

// GOLD
$khaki: #f0e68c;
$goldenrod: #daa520;
$gold: #ffd700;
$orange: #ffa500;

// BLUE
$picasso-blue: #0276fd;
$peafowl: #1d7cf2;
$sign-blue: #003f87;
$blue-pill: #5190ed;
$ulysses-butterfly: #1464f4;
$royal-blue: #4169e1;
$royal-blue: #3333ff;
$royalblue1: #4876ff;
$cichlid: #003eff;
$ty-nant: #0147fa;
$medium-blue: #0000cd;
$blue: #0000ff;
$blue2: #0000ee;
$neon-blue: #4d4dff;
$cobalt: #6666ff;
$darkblue: #00008b;
$cornflower: #3300ff;


// SPECIAL
$bg-color: #212121;
$fg-color: #c0c0c0;


