$white: #fff;
$silver: #c0c0c0;
$blue: #00f;



$fg-color: $silver;
$bg-color: #212121;


$primary: $fg-color;
$secondary: $white;
$inverse: $bg-color;

// PROFILE
#main {
  background: $bg-color;
  color: $fg-color;
}

body {
  background-color: $bg-color;
  color: $fg-color;
}

main#main > div > div > div.profile-header {
  background: $bg-color;
  color: $fg-color;
}

html body.ltr.view-profile.lang_en div.window-wrap div#content.content-wrapper.main-container main#main div.wrapper-profile div.profile.profile-self div.wrapper-profile-sections.account-settings-container {
  background-color: $bg-color;
  color: $fg-color;
}
html body.ltr.view-profile.lang_en div.window-wrap div#content.content-wrapper.main-container main#main div.wrapper-profile div.profile.profile-self div.wrapper-profile-field-account-privacy {
  background-color: $bg-color;
  color: $fg-color;
}

html body.ltr.view-profile.lang_en div.window-wrap div#content.content-wrapper.main-container main#main div.wrapper-profile div.profile.profile-self div.wrapper-profile-sections.account-settings-container div.wrapper-profile-section-container-one {
  background-color: $bg-color;
  color: $fg-color;
}