@import "lms/static/sass/lms-course";
@import "lms/static/sass/base/headings";

$white: #ffffff;
$silver: #d3cdd3;
$blue: #00f;

$fg-color: $silver;
$bg-color: #1d1d1d;

$primary: $fg-color;
$secondary: $white;
$inverse: $bg-color;

#main {
  background: $bg-color;
  color: $fg-color;
}

body {
  background-color: $bg-color;
  color: $fg-color;
}

main#main > div > div > div.profile-header {
  background: $bg-color;
  color: $fg-color;
}

html
  body.ltr.view-profile.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  main#main
  div.wrapper-profile
  div.profile.profile-self
  div.wrapper-profile-sections.account-settings-container {
  background-color: $bg-color;
  color: $fg-color;
}
html
  body.ltr.view-profile.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  main#main
  div.wrapper-profile
  div.profile.profile-self
  div.wrapper-profile-field-account-privacy {
  background-color: $bg-color;
  color: $fg-color;
}

html
  body.ltr.view-profile.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  main#main
  div.wrapper-profile
  div.profile.profile-self
  div.wrapper-profile-sections.account-settings-container
  div.wrapper-profile-section-container-one {
  background-color: $bg-color;
  color: $fg-color;
}

#course-success {
  background-color: $bg-color;
  color: $fg-color;
}

#action-preview-select {
  background-color: $bg-color;
  color: $fg-color;
}

#main
  > div
  > div
  > div.wrapper-profile-field-account-privacy
  > div
  > span.u-field-value {
  background-color: $bg-color;
  color: $fg-color;
}

.wrapper-footer footer#footer-openedx a {
  transition: link-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
  border-bottom: none;
  color: blue;
  text-decoration: none !important;
}

html
  body.ltr.view-profile.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  main#main
  div.wrapper-profile
  div.profile.profile-self
  div.wrapper-profile-field-account-privacy
  div.u-field.u-field-dropdown.u-field-account_privacy.editable-always.mode-edit
  span#u-field-message-account_privacy.u-field-message
  span.u-field-message-notification {
  background-color: $bg-color;
  color: $secondary;
}

html
  body.ltr.view-in-course.view-courseware.courseware.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  div.container
  div.course-wrapper
  section#course-content.course-content
  header.page-header.has-secondary {
  background-color: $bg-color;
}

html
  body.ltr.view-in-course.view-courseware.courseware.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  div.container
  div.course-wrapper
  section#course-content.course-content
  main#main
  div.xblock.xblock-student_view.xblock-student_view-sequential.xmodule_display.xmodule_SequenceModule.xblock-initialized
  div#sequence_3dcb14ccfebe497da7825da64bd1fe28.sequence
  div#seq_content
  div.wrap-instructor-info.studio-view
  a.instructor-info-action {
  background-color: $bg-color;
}

html
  body.ltr.view-in-course.view-courseware.courseware.lang_en
  div.window-wrap
  header.global-header.slim
  div.main-header
  div.nav-links
  div.secondary
  div.mobile-nav-item.hidden-mobile.nav-item
  a.help-link {
  color: $secondary;
}

html
  body.ltr.view-in-course.view-courseware.courseware.lang_en
  div.window-wrap
  div#content.content-wrapper.main-container
  div.container
  div.course-wrapper
  section#course-content.course-content
  main#main
  div.xblock.xblock-student_view.xblock-student_view-sequential.xmodule_display.xmodule_SequenceModule.xblock-initialized
  div#sequence_3dcb14ccfebe497da7825da64bd1fe28.sequence
  div#seq_content
  div.xblock.xblock-student_view.xblock-student_view-vertical.xblock-initialized
  div.vert-mod
  div.vert.vert-0
  div.wrap-instructor-info
  a#cf473e8485c74a819936653c6fe9c928_trig.instructor-info-action {
  background-color: $bg-color;
  color: $primary;
}

.wrapper-preview-menu {
  background-color: $bg-color;
}

.wrapper-preview-menu .preview-actions .action-preview .action-preview-label {
  color: $silver;
}


.hd-1, .hd-2, .hd-3, .hd-4, .hd-5, .hd-6, .hd-7, .hd-8 {
	margin: 0;
	font-weight: 400;
	font-size: inherit;
	line-height: inherit;
	color: $fg-color;
}

// .light-button, div.history-controls input[type="submit"], a.light-button, .gray-button, input[type="reset"], input[type="submit"], input[type="button"], button, .button, form input[type="reset"], form input[type="submit"], form input[type="button"], form button, form .button, .xmodule_display.xmodule_LTIModule div.lti .wrapper-lti-link .lti-link .link_lti_new_window {
// 	border: 1px solid #d2c9c9;
// 	border-radius: 3px;
// 	box-shadow: inset 0 1px 0 0 #fff;
// 	color: $fg-color;
// 	display: inline-block;
// 	font-size: inherit;
// 	font-weight: bold;
// 	background-color: #f1f1f1;
// 	background-image: -webkit-linear-gradient(#f1f1f1,#d9d1d1);
// 	background-image: linear-gradient(#f1f1f1,#d9d1d1);
// 	padding: 7px 18px;
// 	text-decoration: none;
// 	text-shadow: 0 1px 0 #fcfbfb;
// 	background-clip: padding-box;
// 	font-size: 0.8125em;
// }

button {
  color: $fg-color;
}


.wrapper-course-material .course-tabs .tab a:hover, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:hover + h4, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:hover + h4, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:focus + h4, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:focus + h4, .wrapper-course-material .course-tabs .tab a:focus, .wrapper-course-material .course-tabs .tab a.active, .wrapper-course-material .course-tabs .tab a:visited:hover, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:hover + h4:visited, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:hover + h4:visited, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:focus + h4:visited, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:focus + h4:visited, .wrapper-course-material .course-tabs .tab a:visited:focus, .wrapper-course-material .course-tabs .tab a:visited.active {
	color: #c9c0bb;
	border-bottom-style: solid;
	background-color: transparent;
}


.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
	color: $fg-color;
}


.btn-link:hover, .view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt-more-link:hover, .view-student-notes .note-group .note .reference .wrapper-reference-content a.reference-meta:hover, .view-student-notes .note-group .note .reference .wrapper-reference-content div.info-wrapper section.handouts ol li div.hitarea:hover + h4.reference-meta, div.info-wrapper section.handouts ol li .view-student-notes .note-group .note .reference .wrapper-reference-content div.hitarea:hover + h4.reference-meta, .view-student-notes .note-group .note .reference .wrapper-reference-content div.info-wrapper section.handouts ol li div.hitarea:focus + h4.reference-meta, div.info-wrapper section.handouts ol li .view-student-notes .note-group .note .reference .wrapper-reference-content div.hitarea:focus + h4.reference-meta, .edx-notes-wrapper .annotator-adder button:hover::after, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-edit:hover::before, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-delete:hover::before, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-close:hover::before, .edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-cancel:hover, .view-student-notes .wrapper-tabs .tab-list .tab .tab-label:hover, .view-student-notes .wrapper-tabs .tab-list .tab .action-close:hover, .btn-link:focus, .view-student-notes .note-group .note .wrapper-note-excerpts .note-excerpt-more-link:focus, .view-student-notes .note-group .note .reference .wrapper-reference-content a.reference-meta:focus, .edx-notes-wrapper .annotator-adder button:focus::after, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-edit:focus::before, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-delete:focus::before, .edx-notes-wrapper .annotator-viewer .annotator-controls .annotator-close:focus::before, .edx-notes-wrapper .annotator-wrapper .annotator-editor.annotator-outer button.annotator-cancel:focus, .view-student-notes .wrapper-tabs .tab-list .tab .tab-label:focus, .view-student-notes .wrapper-tabs .tab-list .tab .action-close:focus {
	color: $fg-color;
}