
.nav-forum-browse-menu-wrapper {
  background-color: $inverse;
}

.wmd-button {
  background-color: white;
}

.forum-nav {
  border-color: green;
}

.forum-nav-browse-menu-wrapper {
  background-color: #000;
}

.wmd-button {
  background-color: white;
}

.btn-link {
  color: white;
  border-color: green;
}

.discussion-thread-list-container {
  background-color: black;
}

.forum-nav-refine-bar {
  background: black;
}

.btn-outline-primary {
  color: green;
  border-color: green;
}