// @import "dashboard";

@import 'bootstrap/legacy';
@import 'course-experience';

@import 'lms/theme/fcc-styling';


body {
  background-image: url("https://firstcontactcrypto.com/img/loopable-stars-4096x2304.png");
  background-color: #000;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.find-courses, .university-profile {
	background: $bg1-l1;
	padding-bottom: 60px;
}

.courses-container .courses .course {
	box-sizing: border-box;
	transition: all 0.125s linear 0s;
	position: relative;
	border-bottom: 3px solid #126f9a;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125),inset 0 0 0 1px rgba(255,255,255,0.75);
	background: $bg1-l2;
	width: 100%;
}

.courses-container .courses .course .course-info .course-organization, .courses-container .courses .course .course-info .course-code, .courses-container .courses .course .course-info .course-date {
	color: #fff;
}

.courses-container .courses .course .course-info .course-title {
	line-height: 23.68px;
	margin: 5px 0 35px 0;
	padding: 0 15px;
	height: 72px;
	color: $l3;
}

html, button, input, select, textarea {
	font-family: cursive;
	color: $t1;
}

.global-header {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid $a1;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	background: transparent;
	background-image: url("https://firstcontactcrypto.com/img/loopable-stars-4096x2304.png");
	line-height: 1.5;
}

// .find-courses .search-facets {
// 	width: 100%;
// 	box-sizing: border-box;
// 	margin-right: 0;
// 	box-sizing: border-box;
// 	position: relative;
// 	margin: 40px 0 70px 0;
// 	box-shadow: 1px 2px 5px rgba(0,0,0,0.125);
// 	border-top: 1px solid $bg1-l1;
// 	border-bottom: 2px solid $bg1-l1;
// 	max-height: 2000px;
// 	background-color: inherit;
// }

// .find-courses .search-facets .header-search-facets, .find-courses .search-facets .header-facet {
// 	margin: 0;
// 	padding: 10px;
// 	color: black;
// 	text-transform: none;
// }

// .find-courses .search-facets .facet-option {
// 	float: left;
// 	transition: all 0.25s ease-out 0s;
// 	opacity: 1;
// 	border-radius: 0;
// 	padding: 5px 10px;
// 	width: 100%;
// 	color: #3d3e3f;
// }

@import 'courseware_preview';


.btn-primary, .btn-outline-primary {
	@extend .btn-outline-success;

	// color: $btn1;
	// background-color: transparent;
	// border: 1px solid $btn1;
	&:hover {
		background: $bg1-l2;
		border: 1px solid $bdr1;
		color: $btn1;
	}
}


#expand-collapse-outline-all-button {
	float: right;
	background-color: transparent;
	color: $btn1;
	border: 1px solid $btn1;
	cursor: pointer;
	&:hover {
		background: $bg1-l2;
		border: 1px solid $bdr1;
		color: $btn1;
	}
}

body, html, h1 {
	color: $t1;
}

.content-wrapper .course-tabs .nav-item .nav-link {
	padding: 10px 15px 13px;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-bottom-color: transparent;
	color: $t1-d2;
}




.btn-outline-success:hover, .btn-primary:hover, .btn-outline-primary:hover {
	background: #444;
	border: 1px solid blue;
	color: #00c851;
}

.btn-outline-success, .btn-primary, .btn-outline-primary {
	color: $btn1;
	border: 1px solid $btn1;
	background-color: $bg1;
}

.global-header .header-logo .course-header {
	font-size: 0.875rem;
	color: $t1;
	line-height: 1em;
}

.global-header .nav-links .main .nav-tab a {
	color: $l1;
	padding: 7px 25px 19px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: -10px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
}

.global-header .nav-links .secondary .nav-item a {
	color: $t1-d1 !important;
	font-weight: 400;
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item:hover {
	color: $t1;
	background-color: $bg1-l1;
}

.global-header .nav-links .secondary .dropdown-user-menu {
	border: 1px solid $btn1;
	position: absolute;
	background-color: $bg1;
	color: $btn1;
	right: 30px;
	top: 55px;
	z-index: 10;
	&:hover {
		color: $btn1;
		background-color: $bg1-l2;
		border: 1px solid $bdr1;
	}
}

.course-outline .block-tree .section ol.outline-item .subsection .subsection-text .details {
	font-size: 1rem;
	color: $t1-d2;
}

.global-header .nav-links .secondary .nav-item a {
	color: $btn1 !important;

}

.content-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	box-shadow: 0 0 100px 10px rgba(0,0,255,.175) !important; 
	border-radius: 7px;
	margin-top: 100px !important;
	margin-bottom: 100px !important;
	// -webkit-box-shadow: -50px -50px 200px 0px rgba(0,0,255,0.32);
	// -moz-box-shadow: -50px -50px 200px 0px rgba(0,0,255,0.32);
	// box-shadow: -50px -50px 200px 0px rgba(0,0,255,0.32);
	// -webkit-box-shadow: 50px 50px 200px 0px rgba(0,0,255,0.32);
	// -moz-box-shadow: 50px 50px 200px 0px rgba(0,0,255,0.32);
	// box-shadow: 50px 50px 200px 0px rgba(0,0,255,0.32);
	background-color: $bg1 !important;
}

.page-content-container {
	border: none !important;
	background-color: $bg1 !important;
	max-width: 1920px;
	margin: 0 auto;
}

	// width: 70% !important;
	// margin: auto !important;
	// // box-shadow: 5px 5px 20px 6px $bdr1;
	// box-shadow: 0 30px 40px 40px rgba(0,0,255,.1) !important;
	// // border: 1px solid rgba(0, 0, 255, .1) !important;
	// border-radius: 7px;
	// background-color: $bg1 !important;
	// margin-top: 50px !important;


.content-wrapper .course-tabs .nav-item .nav-link {
	color: $l1;
}

.input-group .form-control:not(:first-child):not(:last-child) {
	border: 1px solid $bdr1 !important;
	border-radius: 5px !important;
	&:hover {
		border-color: $bdr1;
		background: $bg1-l1;
	}
}

.content-wrapper .course-tabs {
	box-shadow: none !important;
}

select {
	background: $bg1 !important;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label, .xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicegroup label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicetextgroup label {
	border: none !important;
}