input[type="text"],
input[type="email"],
input[type="password"],
textarea.text {
  background-color: $inverse;
  color: $secondary;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea.text {
  background-color: #1d1d1d;
  color: #fff;
}

.login-register .form-field label,
.financial-assistance-wrapper .financial-assistance-form .form-field label {
  display: block;
  margin: 0;
  color: $secondary;
}

.dashboard-search-bar .search-field {
  background: $inverse;
  box-shadow: 0 1px 0 0 $primary, inset 0 0 3px 0 rgba(0, 0, 0, 0.05);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .wrapper-action-more
  .action-more,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .entitlement-actions-wrapper
  .action-more,
.entitlement-actions-wrapper
  .dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .wrapper-action-more
  .entitlement-action-more,
.dashboard
  .main-container
  .my-courses
  .course
  .details
  .course-actions
  .entitlement-actions-wrapper
  .entitlement-action-more {
  font-size: 14px;
  box-shadow: none;
  background: $secondary;
  background-image: none;
  color: $primary;
  line-height: 16px;
  text-shadow: none;
}

// html, button, input, select, textarea {
// 	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
// 	color: $primary;
// }

.find-courses,
.university-profile {
  background: $inverse;
}

.empty-dashboard-message {
  border: 3px solid #e4e4e4;
  background: $primary;
  color: $secondary;
  padding: 40px 2px;
  text-align: center;
}

html, button, input, select, textarea {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: $primary;
}

h2, .home > header .title > .heading-group p, section.outside-app h1 {
	color: $secondary;
	font: normal 1.2em/1.2em Georgia,Cambria,"Times New Roman",Times,serif;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
}