#main > section > section {
  background: $bg-color;
}

#content > section > header {
  background: $bg-color;
  color: $fg-color;
}

#content > section > header > div > div > section {
  background: $bg-color;
  color: $fg-color;
}

.find-courses {
  background: $bg-color;
  color: $fg-color;
}

.global-header {
  color: $secondary;
}

.menu-title {
  color: $secondary;
}

.dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .action-more {
  background: $bg-color;
  color: $secondary;
}

.dashboard .main-container .my-courses .course .details .enter-course, .wrapper-messages-primary .message.message-upsell .action-view-consent {
    background-color: $bg-color;
    color: $secondary;
}

.global-header .nav-links .secondary .nav-item a {
  color: $secondary;
}

h2 {
  color: $secondary;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info [class*="info-"] {
  color: $secondary;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info .info-date-block-container .info-date-block {
  color: $secondary;
}

body > div.window-wrap > header > div.main-header > div.nav-links > div.secondary > div:nth-child(2) > a > span.username {
  color: $secondary;
}

a.menu-title {
  color: $secondary;
}

#content > section > header {
  color: $secondary;
}

#content > section > div > div.course-sidebar > div > header > div > a:nth-child(4) > span.icon.fa.fa-envelope {
  color: $secondary;
}

#content > section > header > div > div > div {
  background: $bg-color;
}

#content > section > div > div.course-sidebar > div > header > div > a:nth-child(3) > span.icon.fa.fa-thumbs-up {
  color: $secondary;
}

#content > section > div > div.course-sidebar > div > header > div > a:nth-child(2) > span.icon.fa.fa-twitter {
  color: $secondary;
}

body > div.window-wrap > header > div.main-header > h1 > div > span.course-name {
  color: $primary;
}

body > div.window-wrap > header > div.main-header > h1 > div > span.provider {
  color: $secondary;
}

// LOGIN
#content > section.login.container {
  background: $bg-color;
  color: $fg-color;
}

.view-register .container {
  background-color: $bg-color;
  color: $fg-color;
}

a:not(.btn), a:visited:not(.btn) {
	color: $fg-color-blue-light;
	font: inherit;
	text-decoration: none;
	transition: all 0.1s linear 0s;
}

.wrapper-footer footer#footer-openedx a {
	transition: link-color 0.15s ease-in-out 0s,border 0.15s ease-in-out 0s;
	border-bottom: none;
	color: $fg-color-blue-light;
	text-decoration: none !important;
}


// h2 {
//   color: $secondary;
// }

// body > div.window-wrap > header > div.main-header > div.nav-links > div.secondary {
//   color: $secondary;
// }

// .dashboard .main-container .my-courses .course .details .enter-course {
//   color: $secondary;
//   background-color: $bg-color;
// }

// .btn-primary {
//   color: $fg-color;
//   background-color: $bg-color;
// }

// #content > nav {
//   background: $bg-color;
//   color: $fg-color;
// }
// /*
// classes:
//   dark-theme
//   everywhere-specificity-helper dark-theme-everywhere-off

// id:
//   dark-theme-everywhere-specificity-helper
// */

// .navbar .course-tabs .pb-0 .navbar-expand {
//   background: $bg-color;
//   color: $secondary;
// }

// body > div.window-wrap > header > div.main-header > h1 > div > span.course-name {
//   color: $secondary
// }

// body > div.window-wrap > header > div.main-header > div.nav-links > div.secondary > div:nth-child(2) > a > span.username {
//   color: $secondary;
// }

// .section .section-dates {
//   color: $secondary
// }

// #content > section > header {
//   background-color: $bg-color;
//   color: $fg-color;
// }

// #content > section > div > div.course-sidebar > div > header > div {
//   background-color: $bg-color;
//   color: $fg-color;
// }
