

// $red: #d9534f;
// $primary: $red;

$primary: #2c95e8;
$secondary: $yellow;


.bg-primary {
  background-color: #141414;
}

.bg-secondary {
  background-color: #3a2d2d;
}

// $font-family-sans-serif: cursive;

@import 'edx-bootstrap/sass/open-edx/theme';