$white: #fff;
$silver: #c0c0c0;
$fg-color: $silver;
$bg-color: #212121;


$primary: $fg-color;
$secondary: $white;
$inverse: $bg-color;

$body-color: $secondary;


@import 'edx-bootstrap/sass/open-edx/theme';